.container {
  width: 80%;
  margin: 80px auto;
  max-width: 1200px;

  @include respond-to(tablet) {
    width: 90%;
  }
  @include respond-to(mobile) {
    width: 95%;
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

.button {
  border: 2px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.button:hover {
  color: white;
  background-color: $primary-color;
}

.button:focus {
  outline: 2px solid $primary-color;
  color: $primary-color;
  background-color: white;
}

.boldText {
  font-weight: 800;
}
